// Slick carousel for react-carousel
@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"

@import "~typeface-karla/index.css"
@import "~typeface-zilla-slab/index.css"

// Google font
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css)

// import the initial variables
@import "~bulma/sass/utilities/initial-variables"

// declare variables
$size-1: 1.2501rem
$size-2: 1.25rem
$size-3: 0.875rem
$family-serif: "Zilla Slab", "Lucida Console", Monaco, monospace
$family-sans-serif: 'Karla', 'Noto Sans Japanese',  BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$pink: #EF576D
$pink-lighter: #F48696
$pink-darker: #EB2846
$grey-dark: #333333
$grey-lighter: #E7E5E4
$grey: #999

// set values
$primary: $pink
$text: $grey-dark
$text-strong: $primary
$title-weight: $weight-normal
$body-background-color: $white-ter
$background: $grey-dark
$link: $grey
$link-hover: $primary

$tag-background-color: $white
$tag-color: $text

@import "~bulma"

// General styles

.content
  padding-top: 1.5rem
  h3
    font-family: $family-serif
    font-size: $size-3
    font-weight: $weight-semibold
    text-transform: uppercase
    letter-spacing: 0.04rem
  .ja
    font-size: 0.875rem
    line-height: 1.5rem
    span.single-byte
      font-size: $body-size
      padding: 0 0.125rem
  ul
    list-style: none
    margin-left: 1em
    li
      padding-left: 1em
    li::before
      content: '-'
      display: inline-block
      margin-left: -1em
      width: 1em

.title.is-1,
.title.is-2
  line-height: $size-1*1.2

.title.is-1
  margin-bottom: 0.5rem
  font-weight: $weight-bold

details
  summary
    color: $link
    cursor: pointer
    margin-bottom: 1rem
    margin-left: 1rem
    &:hover
      color: $link-hover
    &:focus
      outline: none
    &::-webkit-details-marker
      display: none
    &::before
      content: "\f0da"
      font-family: 'FontAwesome'
      display: inline-block
      text-align: center
      width: 1.5rem
      margin-left: -0.5rem
details[open]
  summary::before
    content: '\f0d7'


// header

.headroom--scrolled
  .header
    border-color: $text
    transition: border-bottom 0.2s

.headroom--unfixed
  .header
    border-color: hsla(0, 0, 0, 0)
    transition: border-bottom 0.2s

.headroom-wrapper
  opacity: 0
  &.hide
    opacity: 0
    &.animate
      transition: opacity 0.2s
  &.show
    opacity: 1
    &.animate
      transition: opacity 0.2s

.header
  border-bottom: 1px solid
  // padding: $size-1 0
  background-color: $body-background-color

  a
    color: $primary
    &:hover
      color: $pink-darker
  .level-item
    display: inherit

// index
.motion-thumbnail-wrapper
  margin-top: 1rem
  margin-bottom: 1rem

.motion-thumbnail-background
  bottom: 0
  left: 0
  right: 0
  border-color: $text
  border-style: solid
  overflow: hidden
  &::before
    position: absolute
    top: -100%
    bottom: -100%
    left: 0
    right: 0
    content: " "
    background-attachment: fixed
    background-position: center center
    background-size: cover
  &.hide
    opacity: 0
    transition: opacity 0.2s

.motion-thumbnail-foreground
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  opacity: 0
  cursor: pointer
  z-index: 1

.project-index-wrapper
  position: relative
  box-sizing: border-box
  .project-index
    position: relative
    box-sizing: border-box
    width: 100%
    z-index: 2
    top: 0
    &.pin
      position: fixed
    &.unpin
        position: absolute
    .project-header
      .title
        text-shadow: .125rem .125rem $body-background-color
    &.hide
      opacity: 0
      transition: opacity 0.2s

// contents

.section
  // background-color: $body-background-color
  padding-top: 1.5rem
  padding-bottom: 1.5rem

.hero.project-hero
  color: $white-ter
  padding-bottom: 1.5rem
  overflow: hidden
  position: relative
  top: 0
  bottom: 0
  left: 0
  right: 0
  &::before
    position: absolute
    top: 0
    bottom: -100%
    left: 0
    right: 0
    content: " "
    background-attachment: fixed
    background-position: center center
    background-size: cover
  .scroll-indicator-container
    text-shadow: 0 0 .25rem $text

.project-content
  border-top: 1px solid $text
  .hero
    background-color: inherit


// carousel
.container-carousel
  padding: 1.5rem 0

.carousel-element
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  width: 100%
  // height: 56.25vw
  background-color: $background
  img
    width: 100%
    height: 56.25vw
    object-fit: cover

.project-header
  padding: 1.5rem 0

// footer

.footer
  color: $grey-lighter
  padding: 3rem 1.5rem
  margin-top: 3rem

// Changing Slick carousel's default

.slick-dots li
  margin: 0

.slick-prev, .slick-next
  &:before
    font-family: 'FontAwesome'
    color: $text
    opacity: 1

.slick-prev
  left: -1.5rem
  &:before
    content: "\f104"

.slick-next
  right: -1.5rem
  &:before
    content: "\f105"
